[Unit]
Description=Lock X session
Before=sleep.target

[Service]
User=dralagen
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -locknow

[Install]
WantedBy=sleep.target
